{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid bg-black text-warning p-4">
    <div class="row">
        <div class="col md-12">
            <form method="POST">
                {% csrf_token %}
            <div class="">
                <h2 class="">Are you sure want to delete?</h2>
            </div>
            <div>
                <button class="btn btn-danger">Delete</button>
            </div>
                </form>
        </div>
    </div>
</div>

{% endblock %}